.button {
  padding: 18px 45px;
  border-radius: 0.5rem;
  color: #a18703;
  background: white;
  border: 2px solid #a18703;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  outline: none;
  text-transform: capitalize;
}
